@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-text-heading: #080812;
  --color-text-paragraph: #374151;
  --color-text-span: #9ca3af;
  --color-text-placeholder: #98919f;
  --color-text-invert: #ffffff;

  --color-background-light: #ffffff;
  --color-background-dark: #d7dbdb;
  --color-background-surface: #fafafa;

  --color-accent-brand: #2a89ef;
  --color-accent-brand-light: #ecf4fe;
  --color-accent-brand-dark: #0a53a1;
  --color-accent-red: #e61e32;
  --color-accent-green: #15be78;
  --color-accent-orange: #ff850a;

  --color-border-dark: #636d7e;
  --color-border-light: #d1d5db;
}

html {
  font-family: "Archivo", sans-serif;
}
